* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_square {
  height: 450px;
  width: 450px;
  border: 1px solid black;
  transform: translateY(55%) rotate(-45deg);
}
.main_square_text {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  transform: rotate(45deg);
  white-space: nowrap;
}
.main_square_small {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-clip: padding-box;
  box-sizing: border-box;
  border: 4px solid black;
  width: 149px;
  height: 150px;
}
.main_square_small_7:hover {
  border-image: linear-gradient(to left top, #30b6f9, 70%, #165ffc);
  background-color: black;
  border-image-slice: 1;
}
.main_square_small_4:hover {
  border-image: linear-gradient(to left top, #165ffc, 70%, #652e94);
  background-color: black;
  border-image-slice: 1;
}
.main_square_small_1:hover {
  border-image: linear-gradient(to right top, #662d94, 70%, #e8028c);
  background-color: black;
  border-image-slice: 1;
}
.main_square_small_8:hover {
  border-image: linear-gradient(to right top, #30b6f9, 30%, #39b54a);
  background-color: black;
  border-image-slice: 1;
}
.main_square_small_5:hover {
  border-image: linear-gradient(to right top, #fec707, 70%, #ee324a);
  background-color: black;
  border-image-slice: 1;
}
.main_square_small_2:hover {
  border-image: linear-gradient(to right top, #6d2b91, 30%, #ec008c);
  background-color: black;
  border-image-slice: 1;
}
.main_square_small_3:hover {
  border-image: linear-gradient(to bottom right, #ec0388, 30%, #ef4136);
  background-color: black;
  border-image-slice: 1;
}
.main_square_small_6:hover {
  border-image: linear-gradient(to top right, #f7941e, 30%, #efe200);
  background-color: black;
  border-image-slice: 1;
}
.main_square_small_9:hover {
  border-image: linear-gradient(to top right, #3ab649, 70%, #facc06);
  background-color: black;
  border-image-slice: 1;
}

img {
  display: block;
  width: 60px;
  height: 60px;
  margin: 10px 10px;
  transform: rotate(135deg);
  opacity: 1;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_square_line_one {
  opacity: 1;
  position: absolute;
  height: 3px;
  background: white;
  transform: rotate(45deg) translateY(15px);
  transition: all linear 0.2s;
  width: 60px;
}
.main_square_text_one {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  transform: rotate(45deg);
  white-space: nowrap;
  font-size: 20px;
}
.main_square_text_one:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -17px;
  height: 0;
  width: 100px;
  background: black;
  transition: all linear 0.2s;
  bottom: 5px;
  left: -12px;
  width: 70px;
}
.main_square_line_two {
  opacity: 1;
  position: absolute;
  height: 3px;
  background: white;
  transform: rotate(45deg) translateY(15px);
  transition: all linear 0.2s;
  transform: rotate(45deg) translateY(26px);
  width: 115px;
}
.main_square_text_two {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  transform: rotate(45deg);
  white-space: nowrap;
  font-size: 18px;
  line-height: 25px;
}
.main_square_text_two:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -17px;
  height: 0;
  width: 100px;
  background: black;
  transition: all linear 0.2s;
  left: -11px;
  width: 137px;
}
.main_square_line_three {
  opacity: 1;
  position: absolute;
  height: 3px;
  background: white;
  transform: rotate(45deg) translateY(15px);
  transition: all linear 0.2s;
  transform: rotate(45deg) translateY(25px);
  width: 100px;
}
.main_square_text_three {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  transform: rotate(45deg);
  white-space: nowrap;
  font-size: 18px;
  line-height: 25px;
}
.main_square_text_three:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -17px;
  height: 0;
  width: 100px;
  background: black;
  transition: all linear 0.2s;
  left: -7px;
  width: 100px;
}
.main_square_line_four {
  opacity: 1;
  position: absolute;
  height: 3px;
  background: white;
  transform: rotate(45deg) translateY(15px);
  transition: all linear 0.2s;
  transform: rotate(45deg) translateY(26px);
  width: 115px;
}
.main_square_line_four_1 {
  width: 70px;
}
.main_square_line_four_5 {
  width: 120px;
}
.main_square_text_four {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  transform: rotate(45deg);
  white-space: nowrap;
  font-size: 18px;
  line-height: 25px;
}
.main_square_text_four:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -17px;
  height: 0;
  width: 100px;
  background: black;
  transition: all linear 0.2s;
  left: 0;
  width: 143px;
}
.main_square_text_four_1:after {
  left: -15px;
  width: 90px;
}
.main_square_text_four_2:after {
  left: -6px;
  width: 151px;
}
.main_square_text_four_5:after {
  left: -8px;
  width: 131px;
}
.main_square_line_five {
  opacity: 1;
  position: absolute;
  height: 3px;
  background: white;
  transform: rotate(45deg) translateY(15px);
  transition: all linear 0.2s;
  transform: rotate(45deg) translateY(26px);
  width: 115px;
}
.main_square_line_five_1 {
  width: 70px;
}
.main_square_line_five_2 {
  width: 80px;
  transform: rotate(45deg) translateY(20px);
}
.main_square_text_five {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  transform: rotate(45deg);
  white-space: nowrap;
  font-size: 18px;
  line-height: 25px;
}
.main_square_text_five:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -17px;
  height: 0;
  width: 100px;
  background: black;
  transition: all linear 0.2s;
  left: 0;
  width: 143px;
}
.main_square_text_five_1:after {
  left: -13px;
  width: 81px;
}
.main_square_text_five_2:after {
  bottom: -5px;
  left: -12px;
  width: 95px;
}
.main_square_line_six {
  opacity: 1;
  position: absolute;
  height: 3px;
  background: white;
  transform: rotate(45deg) translateY(15px);
  transition: all linear 0.2s;
  transform: rotate(45deg) translateY(20px);
  width: 110px;
}
.main_square_text_six {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  transform: rotate(45deg);
  white-space: nowrap;
  font-size: 18px;
  line-height: 25px;
}
.main_square_text_six:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -17px;
  height: 0;
  width: 100px;
  background: black;
  transition: all linear 0.2s;
  bottom: -5px;
  left: -10px;
  width: 115px;
}
.main_square_line_seven {
  opacity: 1;
  position: absolute;
  height: 3px;
  background: white;
  transform: rotate(45deg) translateY(15px);
  transition: all linear 0.2s;
  transform: rotate(45deg) translateY(25px);
  width: 100px;
}
.main_square_text_seven {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  transform: rotate(45deg);
  white-space: nowrap;
  font-size: 18px;
  line-height: 25px;
}
.main_square_text_seven:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -17px;
  height: 0;
  width: 100px;
  background: black;
  transition: all linear 0.2s;
  left: -11px;
  width: 110px;
}
.main_square_line_eight {
  opacity: 1;
  position: absolute;
  height: 3px;
  background: white;
  transform: rotate(45deg) translateY(15px);
  transition: all linear 0.2s;
  transform: rotate(45deg) translateY(26px);
  width: 100px;
}
.main_square_text_eight {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  transform: rotate(45deg);
  white-space: nowrap;
  font-size: 18px;
  line-height: 25px;
}
.main_square_text_eight:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -17px;
  height: 0;
  width: 100px;
  background: black;
  transition: all linear 0.2s;
  left: -11px;
  width: 110px;
}
.main_square_text_eight_1:after {
  left: -13px;
  width: 100px;
}
.main_square_page_one {
  position: relative;
  height: 450px;
  width: 450px;
  border: 1px solid black;
  z-index: 2;
  transform: translateY(55%) rotate(-45deg);
  background: linear-gradient(to top left, #662d94, 60%, #e8028c, 90%, #662d94);
  background-size: 400% 400%;
  animation: move 10s linear infinite;
}
.main_square_page_one_black {
  transform: rotate(-90deg);
}
.main_square_page_one_black:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: black;
  transition: all linear 0.2s;
  transform: rotate(90deg);
}
.main_square_page_one_small {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 4px solid black;
  outline: 3.5px solid black;
  outline-offset: -3.5px;
  background-clip: padding-box;
  width: 150px;
  height: 150px;
}
.main_square_page_one_small_2:hover .main_square_text_one:after {
  z-index: -1;
  height: 80%;
}
.main_square_page_one_small_2:hover .main_square_line_one {
  opacity: 0;
  width: 0px;
}
.main_square_page_one_small_3:hover .main_square_text_one:after {
  z-index: -1;
  height: 80%;
}
.main_square_page_one_small_3:hover .main_square_line_one {
  opacity: 0;
  width: 0px;
}
.main_square_page_one_small_4:hover .main_square_text_one:after {
  z-index: -1;
  height: 80%;
}
.main_square_page_one_small_4:hover .main_square_line_one {
  opacity: 0;
  width: 0px;
}
.main_square_page_one_small_9:hover .main_square_page_one_black:after {
  z-index: -1;
  width: 80px;
  height: 80px;
}
.main_square_page_two {
  position: relative;
  height: 450px;
  width: 450px;
  border: 1px solid black;
  z-index: 2;
  transform: translateY(55%) rotate(-45deg);
  background: linear-gradient(to top left, #6d2b91, 60%, #ec008c, 90%, #6d2b91);
  background-size: 400% 400%;
  animation: move 10s linear infinite;
}
.main_square_page_two_black {
  transform: rotate(-90deg);
}
.main_square_page_two_black:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: black;
  transition: all linear 0.2s;
  transform: rotate(90deg);
}
.main_square_page_two_small {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 4px solid black;
  outline: 3.5px solid black;
  outline-offset: -3.5px;
  background-clip: padding-box;
  width: 150px;
  height: 150px;
}
.main_square_page_two_small_1:hover .main_square_text_two:after {
  z-index: -1;
  height: 110%;
}
.main_square_page_two_small_1:hover .main_square_line_two {
  opacity: 0;
  width: 0px;
}
.main_square_page_two_small_9:hover .main_square_page_two_black:after {
  z-index: -1;
  width: 80px;
  height: 80px;
}
.main_square_page_three {
  position: relative;
  height: 450px;
  width: 450px;
  border: 1px solid black;
  z-index: 2;
  transform: translateY(55%) rotate(-45deg);
  background: linear-gradient(to top left, #ec0388, 60%, #ef4136, 90%, #ec0388);
  background-size: 400% 400%;
  animation: move 10s linear infinite;
}
.main_square_page_three_black {
  transform: rotate(-90deg);
}
.main_square_page_three_black:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: black;
  transition: all linear 0.2s;
  transform: rotate(90deg);
}
.main_square_page_three_small {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 4px solid black;
  outline: 3.5px solid black;
  outline-offset: -3.5px;
  background-clip: padding-box;
  width: 150px;
  height: 150px;
}
.main_square_page_three_small_1:hover .main_square_text_three:after {
  z-index: -1;
  height: 100%;
}
.main_square_page_three_small_1:hover .main_square_line_three {
  opacity: 0;
  width: 0px;
}
.main_square_page_three_small_9:hover .main_square_page_three_black:after {
  z-index: -1;
  width: 80px;
  height: 80px;
}
.main_square_page_four {
  position: relative;
  height: 450px;
  width: 450px;
  border: 1px solid black;
  z-index: 2;
  transform: translateY(55%) rotate(-45deg);
  background: linear-gradient(to top left, #165ffc, 60%, #652e94, 90%, #165ffc);
  background-size: 400% 400%;
  animation: move 10s linear infinite;
}
.main_square_page_four_black {
  transform: rotate(-90deg);
}
.main_square_page_four_black:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: black;
  transition: all linear 0.2s;
  transform: rotate(90deg);
}
.main_square_page_four_small {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 4px solid black;
  outline: 3.5px solid black;
  outline-offset: -3.5px;
  background-clip: padding-box;
  width: 150px;
  height: 150px;
}
.main_square_page_four_small_1:hover .main_square_text_four:after {
  z-index: -1;
  height: 100%;
}
.main_square_page_four_small_1:hover .main_square_line_four {
  opacity: 0;
  width: 0px;
}
.main_square_page_four_small_2:hover .main_square_text_four:after {
  z-index: -1;
  height: 100%;
}
.main_square_page_four_small_2:hover .main_square_line_four {
  opacity: 0;
  width: 0px;
}
.main_square_page_four_small_5:hover .main_square_text_four:after {
  z-index: -1;
  height: 100%;
}
.main_square_page_four_small_5:hover .main_square_line_four {
  opacity: 0;
  width: 0px;
}
.main_square_page_four_small_9:hover .main_square_page_four_black:after {
  z-index: -1;
  width: 80px;
  height: 80px;
}
.main_square_page_five {
  position: relative;
  height: 450px;
  width: 450px;
  border: 1px solid black;
  z-index: 2;
  transform: translateY(55%) rotate(-45deg);
  background: linear-gradient(to top left, #fec707, 60%, #ee324a, 90%, #fec707);
  background-size: 400% 400%;
  animation: move 10s linear infinite;
}
.main_square_page_five_black {
  transform: rotate(-90deg);
}
.main_square_page_five_black:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: black;
  transition: all linear 0.2s;
  transform: rotate(90deg);
}
.main_square_page_five_small {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 4px solid black;
  outline: 3.5px solid black;
  outline-offset: -3.5px;
  background-clip: padding-box;
  width: 150px;
  height: 150px;
}
.main_square_page_five_small_1:hover .main_square_text_five:after {
  z-index: -1;
  height: 100%;
}
.main_square_page_five_small_1:hover .main_square_line_five {
  opacity: 0;
  width: 0px;
}
.main_square_page_five_small_2:hover .main_square_text_five:after {
  z-index: -1;
  height: 150%;
}
.main_square_page_five_small_2:hover .main_square_line_five {
  opacity: 0;
  width: 0px;
}
.main_square_page_five_small_9:hover .main_square_page_five_black:after {
  z-index: -1;
  width: 80px;
  height: 80px;
}
.main_square_page_six {
  position: relative;
  height: 450px;
  width: 450px;
  border: 1px solid black;
  z-index: 2;
  transform: translateY(55%) rotate(-45deg);
  background: linear-gradient(to top left, #f79441, 60%, #efe200, 90%, #f79441);
  background-size: 400% 400%;
  animation: move 10s linear infinite;
}
.main_square_page_six_black {
  transform: rotate(-90deg);
}
.main_square_page_six_black:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: black;
  transition: all linear 0.2s;
  transform: rotate(90deg);
}
.main_square_page_six_small {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 4px solid black;
  outline: 3.5px solid black;
  outline-offset: -3.5px;
  background-clip: padding-box;
  width: 150px;
  height: 150px;
}
.main_square_page_six_small_1:hover .main_square_text_six:after {
  z-index: -1;
  height: 150%;
}
.main_square_page_six_small_1:hover .main_square_line_six {
  opacity: 0;
  width: 0px;
}
.main_square_page_six_small_9:hover .main_square_page_six_black:after {
  z-index: -1;
  width: 80px;
  height: 80px;
}
.main_square_page_seven {
  position: relative;
  height: 450px;
  width: 450px;
  border: 1px solid black;
  z-index: 2;
  transform: translateY(55%) rotate(-45deg);
  background: linear-gradient(to top left, #30b6f9, 60%, #165ffc, 90%, #30b6f9);
  background-size: 400% 400%;
  animation: move 10s linear infinite;
}
.main_square_page_seven_black {
  transform: rotate(-90deg);
}
.main_square_page_seven_black:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: black;
  transition: all linear 0.2s;
  transform: rotate(90deg);
}
.main_square_page_seven_small {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 4px solid black;
  outline: 3.5px solid black;
  outline-offset: -3.5px;
  background-clip: padding-box;
  width: 150px;
  height: 150px;
}
.main_square_page_seven_small_1:hover .main_square_text_seven:after {
  z-index: -1;
  height: 100%;
}
.main_square_page_seven_small_1:hover .main_square_line_seven {
  opacity: 0;
  width: 0px;
}
.main_square_page_seven_small_9:hover .main_square_page_seven_black:after {
  z-index: -1;
  width: 80px;
  height: 80px;
}
.main_square_page_eight {
  position: relative;
  height: 450px;
  width: 450px;
  border: 1px solid black;
  z-index: 2;
  transform: translateY(55%) rotate(-45deg);
  background: linear-gradient(to top left, #30b6f9, 60%, #39b54a, 90%, #30b6f9);
  background-size: 400% 400%;
  animation: move 10s linear infinite;
}
.main_square_page_eight_black {
  transform: rotate(-90deg);
}
.main_square_page_eight_black:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: black;
  transition: all linear 0.2s;
  transform: rotate(90deg);
}
.main_square_page_eight_small {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 4px solid black;
  outline: 3.5px solid black;
  outline-offset: -3.5px;
  background-clip: padding-box;
  width: 150px;
  height: 150px;
}
.main_square_page_eight_small_1:hover .main_square_text_eight:after {
  z-index: -1;
  height: 100%;
}
.main_square_page_eight_small_1:hover .main_square_line_eight {
  opacity: 0;
  width: 0px;
}
.main_square_page_eight_small_2:hover .main_square_text_eight:after {
  z-index: -1;
  height: 100%;
}
.main_square_page_eight_small_2:hover .main_square_line_eight {
  opacity: 0;
  width: 0px;
}
.main_square_page_eight_small_9:hover .main_square_page_eight_black:after {
  z-index: -1;
  width: 80px;
  height: 80px;
}

@keyframes change-background {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 50% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}