img
  display: block
  width: 60px
  height: 60px
  margin: 10px 10px
  transform: rotate(135deg)
  opacity: 1
:active, :hover, :focus 
  outline: 0
  outline-offset: 0
.main
    display: flex
    justify-content: center
    align-items: center
    &_square
      &_line_one
        +page_line
        width: 80px
      &_text_one
        +main_text
        &:after
          +after_text
      &_line_two
        +page_line
        transform: rotate(45deg) translateY(30px)
        width: 115px
      &_text_two
        +main_text
        font-size: 20px
        line-height: 25px
        &:after
          +after_text
          left: 0
          width: 143px
      &_line_three
        +page_line
        transform: rotate(45deg) translateY(30px)
        width: 115px
      &_text_three
        +main_text
        font-size: 20px
        line-height: 25px
        &:after
          +after_text
          left: 0
          width: 143px
      &_line_four
        +page_line
        transform: rotate(45deg) translateY(30px)
        width: 115px
      &_text_four
        +main_text
        font-size: 20px
        line-height: 25px
        &:after
          +after_text
          left: 0
          width: 143px
      &_page
        &_one
          +main_page
          background: linear-gradient(to top left, rgb(102,45,148), 60%,rgb(232,2,140), 90%, rgb(102,45,148))
          +main_animation
          &_black
            transform: rotate(-90deg)
            &:after
              +after_black
          &_small
            +main_small
            &_2
              &:hover
                .main_square_text_one
                  &:after
                    z-index: -1
                    width: 100px
                    height: 100%
                .main_square_line_one
                  opacity: 0
                  width: 0px
            &_3
              &:hover
                .main_square_text_one
                  &:after
                    z-index: -1
                    width: 100px
                    height: 100%
                .main_square_line_one
                  opacity: 0
                  width: 0px
            &_4
              &:hover
                .main_square_text_one
                  &:after
                    z-index: -1
                    width: 100px
                    height: 100%
                .main_square_line_one
                  opacity: 0
                  width: 0px
            &_9
              &:hover
                .main_square_page_one_black
                  &:after
                    z-index: -1
                    width: 80px
                    height: 80px
        &_two
          +main_page
          background: linear-gradient(to top left, rgb(109,43,145), 60%,rgb(236,0,140),90%,rgb(109,43,145))
          +main_animation
          &_black
            transform: rotate(-90deg)
            &:after
              +after_black
            &:hover
              &:after
                z-index: -1
                width: 80px
                height: 80px
          &_small
            +main_small
            &_1
              &:hover
                .main_square_text_two
                  &:after
                    z-index: -1
                    //width: 110px
                    height: 100%
                .main_square_line_two
                  opacity: 0
                  width: 0px
                
        &_three
          +main_page
          background: linear-gradient(to top left, rgb(236,3,136), 60%,rgb(239,65,54),90%,rgb(236,3,136))
          +main_animation
          &_black
            transform: rotate(-90deg)
            &:after
              +after_black
            &:hover
              &:after
                z-index: -1
                width: 80px
                height: 80px
          &_small
            +main_small
            &_1
              &:hover
                .main_square_text_three
                  &:after
                    z-index: -1
                    //width: 110px
                    height: 100%
                .main_square_line_three
                  opacity: 0
                  width: 0px
          
        &_four
          +main_page
          background: linear-gradient(to top left, rgb(22,95,252), 60%, rgb(101,46,148),90%,rgb(22,95,252))
          +main_animation
          &_black
            transform: rotate(-90deg)
            &:after
              +after_black
            &:hover
              &:after
                z-index: -1
                width: 80px
                height: 80px
          &_small
            +main_small
            &_1
              &:hover
                .main_square_text_four
                  &:after
                    z-index: -1
                    //width: 110px
                    height: 100%
                .main_square_line_four
                  opacity: 0
                  width: 0px
            &_2
              &:hover
                .main_square_text_four
                  &:after
                    z-index: -1
                    //width: 110px
                    height: 100%
                .main_square_line_four
                  opacity: 0
                  width: 0px
            &_5
              &:hover
                .main_square_text_four
                  &:after
                    z-index: -1
                    //width: 110px
                    height: 100%
                .main_square_line_four
                  opacity: 0
                  width: 0px
        &_five
          +main_page
          background: linear-gradient(to top left, rgb(254,199,7), 60%,rgb(238,50,74),90%,rgb(254,199,7))
          +main_animation
          &_black
            transform: rotate(-90deg)
            &:after
              +after_black
            &:hover
              &:after
                z-index: -1
                width: 80px
                height: 80px
          &_small
            +main_small
        &_six
          +main_page
          background: linear-gradient(to top left, rgb(247,148,65), 60%,rgb(239,226,0),90%,rgb(247,148,65))
          +main_animation
          &_black
            transform: rotate(-90deg)
            &:after
              +after_black
            &:hover
              &:after
                z-index: -1
                width: 80px
                height: 80px
          &_small
            +main_small
        &_seven
          +main_page
          background: linear-gradient(to top left, rgb(48,182,249), 60%,rgb(22,95,252),90%,rgb(48,182,249))
          +main_animation
          &_black
            transform: rotate(-90deg)
            &:after
              +after_black
            &:hover
              &:after
                z-index: -1
                width: 80px
                height: 80px
          &_small
            +main_small
        &_eight
          +main_page
          background: linear-gradient(to top left, rgb(48,182,249), 60%,rgb(57,181,74),90%,rgb(48,182,249))
          +main_animation
          &_black
            transform: rotate(-90deg)
            &:after
              +after_black
            &:hover
              &:after
                z-index: -1
                width: 80px
                height: 80px
          &_small
            +main_small


      

