@keyframes change-background
    0%
        background-position: 100% 0
    50%
        background-position: 50% 0
    100%
        background-position: 0 0
@keyframes move
    0%
        background-position: 0 0
    50%
        background-position: 100% 0
    100%
        background-position: 0 0
        