.right
  position: fixed
  width: 253px
  height: 100%
  background-color: $main_color
  right: 0
  z-index: 2
  &_square
    position: absolute
    right: 33px
    top: 44px
    background-image: url('../icons/main.svg')
    width: 41px
    height: 41px
    transition: all linear 0.2s
    &:hover
      background-image: url('../icons/main_color.svg')
      .right_descr
        opacity: 1
  &_descr
    font-family: 'Roboto-Thin'
    position: absolute
    top: 8px
    right: 51px
    color: white
    opacity: 0
    transition: all linear 0.2s
    pointer-events: none
.left
  position: fixed
  width: 253px
  height: 100%
  background-color: $main_color
  left: 0
  z-index: 2
  &_logo_descr
    font-family: 'Roboto-Thin'
  &_social_descr
    font-family: 'Roboto-Thin'
.navigation
  position: absolute
  width: 140px
  display: flex
  align-items: center
  margin-left: 132px
  &_1
    bottom: 180px
    left: 53px
  &_2
    bottom: 120px
    left: 53px
  &_3
    bottom: 60px
    left: 53px
  &_wrapper
    +white_block
    &:hover
      .navigation_descr
        opacity: 1
      .navigation_right
        background-image: url('../icons/art/right_color.svg')
      .navigation_left
        background-image: url('../icons/art/left_color.svg')
      .navigation_top
        background-image: url('../icons/art/top_color.svg')       
  &_descr
    font-family: 'Roboto-Thin'
    position: absolute
    color: white
    opacity: 0
    line-height: 20px
    transform: rotate(-45deg)
    transition: all linear 0.2s
    pointer-events: none
    &_1
      top: 50px
      right: 25px
    &_2
      top: 50px
      right: 25px
    &_3
      top: 46px
      right: 32px
  &_right
    background-image: url('../icons/art/right.svg')
    margin: -6px -6px
    transform: rotate(-45deg)
    width: 41px
    height: 41px
    transition: all linear 0.2s
  &_left
    background-image: url('../icons/art/left.svg')
    margin: -6px -6px
    transform: rotate(-45deg)
    width: 41px
    height: 41px
    transition: all linear 0.2s
  &_top
    background-image: url('../icons/art/top.svg')
    margin: -6px -6px
    transform: rotate(-45deg)
    width: 41px
    height: 41px
    transition: all linear 0.2s
.promo
  display: block
  position: relative
  overflow: hidden
  margin: 0 auto  
  width: 1400px
  height: 13908px
  background-color: black
  &_header
    width: 100%
    height: 623px
    background-image: url('../img/fairy/skazki_01.webp')
  &_descr
    margin: 80px 300px
    font-family: 'Roboto-Thin'
    color: white
    font-size: 20px
    line-height: 24px
.yaga
  &_box
    margin: 140px 300px 80px
    display: flex
    justify-content: space-between
    &_header
      font-size: 36px
      font-family: 'RobotoCondensed-Light'
      color: white
      text-transform: uppercase
      &_black
        position: absolute
        width: 140px
        height: 50px
        background-color: black
    &_left
      +line_art
    &_right
      +line_art
  &_img
    position: relative
    width: 1932px
    height: 1330px
    margin-bottom: 10px
    &_yaga
      position: absolute
      width: 1932px
      height: 1330px
      right: 710px
      background-image: url('../img/fairy/skazki_02.webp')
      z-index: 1
  &_cache
    position: relative
    width: 1935px
    height: 363px
    &_move
      position: absolute
      width: 1935px
      height: 363px
      right: 300px
      background-image: url('../img/fairy/skazki_03.webp')
      z-index: 1
  &_exposition
    width: 100%
    height: 788px
    margin-top: -37px
    background-image: url('../img/fairy/skazki_04.webp')
.mares
  &_box
    margin: 140px 300px 80px
    display: flex
    justify-content: space-between
    &_header
      font-size: 36px
      color: white
      font-family: 'RobotoCondensed-Light'
      text-transform: uppercase
      &_black
        position: absolute
        width: 390px
        height: 50px
        background-color: black
    &_left
      +line_art
      width: 195px
    &_right
      +line_art
      width: 195px
  &_img
    position: relative
    width: 1932px
    height: 1330px
    margin-bottom: 10px
    &_mares
      position: absolute
      width: 1932px
      height: 1330px
      left: 60px
      background-image: url('../img/fairy/skazki_05.webp')
      z-index: 1
  &_cache
    position: relative
    width: 1935px
    height: 363px
    &_move
      position: absolute
      width: 1935px
      height: 263px
      right: 430px
      background-image: url('../img/fairy/skazki_06.webp')
      z-index: 1
  &_exposition
    width: 100%
    height: 788px
    margin-top: -37px
    background-image: url('../img/fairy/skazki_07.webp')
.goblin
  &_box
    margin: 140px 300px 80px
    display: flex
    justify-content: space-between
    &_header
      font-size: 36px
      color: white
      font-family: 'RobotoCondensed-Light'
      text-transform: uppercase
      &_black
        position: absolute
        width: 120px
        height: 50px
        background-color: black
    &_left
      +line_art
      width: 330px
    &_right
      +line_art
      width: 330px
  &_img
    position: relative
    width: 1932px
    height: 1330px
    margin-bottom: 10px
    &_goblin
      position: absolute
      width: 1932px
      height: 1330px
      right: 710px
      background-image: url('../img/fairy/skazki_08.webp')
      z-index: 1
  &_cache
    position: relative
    width: 1935px
    height: 240px
    &_move
      position: absolute
      width: 1935px
      height: 135px
      right: 430px
      background-image: url('../img/fairy/skazki_09.webp')
      z-index: 1
  &_exposition
    width: 100%
    height: 788px
    margin-top: -37px
    background-image: url('../img/fairy/skazki_10.webp')
.birds
  &_box
    margin: 140px 300px 80px
    display: flex
    justify-content: space-between
    &_header
      font-size: 36px
      color: white
      font-family: 'RobotoCondensed-Light'
      text-transform: uppercase
      &_black
        position: absolute
        width: 210px
        height: 50px
        background-color: black
    &_left
      +line_art
      width: 285px
    &_right
      +line_art
      width: 285px
  &_img
    position: relative
    width: 1932px
    height: 1330px
    margin-bottom: 10px
    &_birds
      position: absolute
      width: 1932px
      height: 1330px
      left: 60px
      background-image: url('../img/fairy/skazki_11.webp')
      z-index: 1
  &_cache
    position: relative
    width: 1935px
    height: 340px
    &_move
      position: absolute
      width: 1935px
      height: 263px
      right: 430px
      background-image: url('../img/fairy/skazki_12.webp')
      z-index: 1
  &_exposition
    width: 100%
    height: 788px
    margin-top: -37px
    background-image: url('../img/fairy/skazki_13.webp')
  &_finaly
    width: 100%
    height: 1046px
    margin-top: 162px
    margin-bottom: 162px
    background-image: url('../img/fairy/skazki_14.webp')
.continued
  width: 100%
  height: 786px
  background-image: url('../img/fairy/skazki_15.webp')

