.navigation
  &_wrapper
    &:hover
      .navigation_right_dry
        //background-image: url('../icons/dry/RIGHT_packs.svg')
      .navigation_left_dry
        //background-image: url('../icons/dry/LEFT_packs.svg')
      .navigation_top_dry
        //background-image: url('../icons/dry/UP_packs.svg')

.maindry
    display: block
    position: relative
    overflow: hidden
    margin: 0 auto  
    width: 1400px
    height: 15000px
    background-color: rgb(0,52,125)
    &_header
        width: 1400px
        height: 623px
        background-image: url(../img/dry/01_SUKHOI_header.webp)
.dry
    &_box
        margin: 140px 300px 80px
        display: flex
        justify-content: space-between
        &_header
          font-size: 36px
          font-family: RobotoCondensed-Light
          color: white
          text-transform: uppercase
          &_black
            position: absolute
            width: 300px
            height: 50px
            background-color: rgb(0,52,125)
        &_left
          +line_art
          background-color: white
          transform: translate3d(-500px,0px,0px)
          width: 240px
        &_right
          +line_art
          background-color: white
          transform: translate3d(500px,0px,0px)
          width: 240px
    &_descr
        margin-left: 186px
        margin-right: 180px
        font-family: Roboto-Thin
        font-weight: 900
        font-size: 20px
        color: white
        &_line
            display: flex
            &_1
                margin-top: 30px
            &_name
                font-family: Roboto-Thin
                font-weight: 900
                white-space: nowrap
                &_1
                    margin-left: 26px
                &_2
                    margin-left: 14px
            &_descr
                margin-left: 20px
                font-family: Roboto-Thin
                font-weight: 900
    &_line_box
        margin-left: 180px
        margin-right: 180px
        margin-top: 80px
        font-family: Roboto-Thin
        font-size: 25px
        font-weight: 900
        display: flex
        justify-content: center
        align-items: center
        &_name
            width: 250px
            height: 55px
            background-image: url(../img/dry/02_SUKHOI_logo.webp)
            &_1
                width: 165px
                height: 51px
                margin-left: 50px
                background-image: url(../img/dry/03_ROSTEH_logo.webp)
        &_product
            width: 197px
            height: 52px
            margin-left: 50px
            background-image: url(../img/dry/04_OAK_logo.webp)
        &_year
            font-weight: 100
            margin-left: 50px
            margin-top: 13px
            text-transform: uppercase
            border-top: 2px solid white
            border-bottom: 2px solid white
            color: white
.mobile
    display: flex
    &_img
        width: 552px
        height: 825px
        margin-left: 50px
        background-image: url(../img/dry/05_SUKHOI_phone.webp)
    &_welcome
        display: flex
        flex-direction: column
        width: 710px
        margin-top: 100px
        &_header
            font-family: RobotoCondensed-Light
            text-transform: uppercase
            font-size: 36px
            color: white
        &_line
            width: 100%
            height: 2px
            background-color: white
            margin-top: 15px
        &_descr
            font-family: Roboto-Thin
            color: white
            font-weight: 900
            margin-top: 30px
            font-size: 20px
        &_box
            display: flex
            align-items: center
            margin-top: 50px
            &_white
                width: 60px
                height: 2px
                background-color: white
                margin-left: 8px
                margin-right: 8px
            &_img
                &_1
                    background-image: url(../img/dry/06_SUKHOI_phone-ikon.webp)
                    width: 73px
                    height: 120px
                &_2
                    background-image: url(../img/dry/07_SUKHOI_konvert-ikon.webp)
                    width: 163px
                    height: 120px
                &_3
                    background-image: url(../img/dry/08_SUKHOI_priglos-ikon.webp)
                    width: 161px
                    height: 118px
                &_4
                    background-image: url(../img/dry/09_SUKHOI_card-ikon.webp)
                    width: 106px
                    height: 75px
.card
    &_box
        position: relative
        height: 910px
        &_img
            position: absolute
            width: 514px
            height: 531px
            background-image: url(../img/dry/10_SUKHOI_card.webp)
            z-index: 3
            top: 310px
            left: 40px
        &_about
            position: absolute
            width: 908px
            height: 712px
            background-image: url(../img/dry/11_SUKHOI_priglos.webp)
            left: 210px
            top: 110px
            z-index: 2
        &_convert
            position: absolute
            width: 925px
            height: 862px
            background-image: url(../img/dry/12_SUKHOI_konvert.webp)
            right: -70px
            z-index: 1
.history
    display: flex
    flex-direction: column
    padding-left: 186px
    padding-right: 180px
    &_header
        font-family: RobotoCondensed-Light
        text-transform: uppercase
        font-size: 36px
        color: white
    &_line
        width: 100%
        height: 2px
        background-color: white
        margin-top: 15px
    &_descr
        font-family: Roboto-Thin
        color: white
        font-weight: 900
        margin-top: 30px
        font-size: 20px
.gif
    width: 1400px
    height: 788px
    background-image: url(../img/dry/13_SUKHOI_samoleti.gif)

.airplane
    display: flex
    align-items: center
    flex-wrap: wrap
    padding-left: 78px
    padding-right: 78px
    margin-top: 60px
    &_line
        display: flex
        margin-bottom: 30px
    &_box
        display: flex
        flex-direction: column
        align-items: center
        margin-left: 15px
        &:hover
            .airplane_box_img
                background-image: url(../icons/dry/01_Su-2-02.svg)
        &_su-3
            margin-top: 5px
            &:hover
                .airplane_box_img_su-3
                    background-image: url(../icons/dry/02_Su-3-02.svg)
        &_su-5
            &:hover
                .airplane_box_img_su-5
                    background-image: url(../icons/dry/03_Su-5-02.svg)
        &_su-6
            &:hover
                .airplane_box_img_su-6
                    background-image: url(../icons/dry/04_Su-6-02.svg)
        &_su-7
            &:hover
                .airplane_box_img_su-7
                    background-image: url(../icons/dry/05_Su-7-02.svg)
        &_su-8
            &:hover
                .airplane_box_img_su-8
                    background-image: url(../icons/dry/06_Su-8-02.svg)
        &_utb-2
            &:hover
                .airplane_box_img_utb-2
                    background-image: url(../icons/dry/07_UTB-2-02.svg)
        &_su-9
            margin-top: 15px
            &:hover
                .airplane_box_img_su-9
                    background-image: url(../icons/dry/08_Su-9-02.svg)
        &_su-10
            margin-top: -45px
            &:hover
                .airplane_box_img_su-10
                    background-image: url(../icons/dry/09_Su-10-02.svg)
        &_su-11
            margin-top: 15px
            &:hover
                .airplane_box_img_su-11
                    background-image: url(../icons/dry/10_Su-11-02.svg)
        &_su-12
            &:hover
                .airplane_box_img_su-12
                    background-image: url(../icons/dry/11_Su-12-02.svg)
        &_img
            background-image: url(../icons/dry/01_Su-2-01.svg)
            width: 199px 
            height: 145px
            transition: background-image 0.5s
            &_su-3
                background-image: url(../icons/dry/02_Su-3-01.svg)
                width: 152px 
                height: 119px
            &_su-5
                background-image: url(../icons/dry/03_Su-5-01.svg)
                width: 152px 
                height: 119px
            &_su-6
                background-image: url(../icons/dry/04_Su-6-01.svg)
                width: 184px 
                height: 127px
            &_su-7
                background-image: url(../icons/dry/05_Su-7-01.svg)
                width: 202px 
                height: 145px
            &_su-8
                background-image: url(../icons/dry/06_Su-8-01.svg)
                width: 290px 
                height: 197px
            &_utb-2
                background-image: url(../icons/dry/07_UTB-2-01.svg)
                width: 290px 
                height: 216px 
            &_su-9
                background-image: url(../icons/dry/08_Su-9-01.svg)
                width: 157px 
                height: 137px
            &_su-10
                background-image: url(../icons/dry/09_Su-10-01.svg)
                width: 296px 
                height: 271px
            &_su-11
                background-image: url(../icons/dry/10_Su-11-01.svg)
                width: 157px 
                height: 137px
            &_su-12
                background-image: url(../icons/dry/11_Su-12-01.svg)
                width: 296px 
                height: 182px      
        &_descr
            font-family: Roboto-Thin
            color: white
            font-weight: 900
            margin-top: 10px
            font-size: 20px
        