.navigation
  &_wrapper
    &:hover
      .navigation_right_dry
        //background-image: url('../icons/dry/RIGHT_packs.svg')
      .navigation_left_dry
        //background-image: url('../icons/dry/LEFT_packs.svg')
      .navigation_top_dry
        //background-image: url('../icons/dry/UP_packs.svg')

.maindry
    display: block
    position: relative
    overflow: hidden
    margin: 0 auto  
    width: 1400px
    height: 15000px
    background-color: rgb(0,52,125)
    &_header
        width: 1400px
        height: 623px
        background-image: url(../img/dry/01_SUKHOI_header.webp)
.dry
    &_box
        margin: 140px 300px 80px
        display: flex
        justify-content: space-between
        &_header
          font-size: 36px
          font-family: RobotoCondensed-Light
          color: white
          text-transform: uppercase
          &_black
            position: absolute
            width: 300px
            height: 50px
            background-color: rgb(0,52,125)
        &_left
          +line_art
          background-color: white
          transform: translate3d(-500px,0px,0px)
          width: 230px
        &_right
          +line_art
          background-color: white
          transform: translate3d(500px,0px,0px)
          width: 230px
    &_descr
        margin-left: 186px
        margin-right: 180px
        font-family: Roboto-Thin
        font-weight: 900
        font-size: 20px
        color: white
        &_line
            display: flex
            &_name
                font-family: Roboto-Thin
                font-weight: 900
                white-space: nowrap
                &_1
                    margin-left: 26px
                &_2
                    margin-left: 14px
            &_descr
                margin-left: 20px
                font-family: Roboto-Thin
                font-weight: 900
    &_line_box
        margin-left: 180px
        margin-right: 180px
        margin-top: 80px
        font-family: Roboto-Thin
        font-size: 25px
        font-weight: 900
        display: flex
        justify-content: center
        align-items: center
        &_name
            width: 250px
            height: 55px
            background-image: url(../img/dry/02_SUKHOI_logo.webp)
            &_1
                width: 165px
                height: 51px
                margin-left: 50px
                background-image: url(../img/dry/03_ROSTEH_logo.webp)
        &_product
            width: 197px
            height: 52px
            margin-left: 50px
            background-image: url(../img/dry/04_OAK_logo.webp)
        &_year
            font-weight: 100
            margin-left: 50px
            margin-top: 13px
            text-transform: uppercase
            border-top: 2px solid white
            border-bottom: 2px solid white
            color: white
.mobile
    display: flex
    &_img
        width: 552px
        height: 845px
        margin-left: 50px
        background-image: url(../img/dry/05_SUKHOI_phone.webp)
    &_welcome
        display: flex
        flex-direction: column
        width: 710px
        margin-top: 100px
        &_header
            font-family: RobotoCondensed-Light
            text-transform: uppercase
            font-size: 46px
            color: white
        &_line
            width: 100%
            height: 2px
            background-color: white
            margin-top: 15px
        &_descr
            font-family: Roboto-Thin
            color: white
            font-weight: 900
            margin-top: 30px
            font-size: 18px
        &_box
            display: flex
            align-items: center
            margin-top: 50px
            &_white
                width: 60px
                height: 2px
                background-color: white
                margin-left: 8px
                margin-right: 8px
            &_img
                &_1
                    background-image: url(../img/dry/06_SUKHOI_phone-ikon.webp)
                    width: 73px
                    height: 120px
                &_2
                    background-image: url(../img/dry/07_SUKHOI_konvert-ikon.webp)
                    width: 163px
                    height: 120px
                &_3
                    background-image: url(../img/dry/08_SUKHOI_priglos-ikon.webp)
                    width: 161px
                    height: 118px
                &_4
                    background-image: url(../img/dry/09_SUKHOI_card-ikon.webp)
                    width: 106px
                    height: 75px