body
    background-color: black
    margin: 0
a
    text-decoration: none
.start
  width: 100% 
.main
    display: flex
    justify-content: center
    align-items: center
    &_square
        +main_square
        transform: $main_transform
        &_text
          +main_text
        &_small
          display: flex
          justify-content: center
          align-items: center
          background-color: white
          background-clip: padding-box
          box-sizing: border-box
          border: 4px solid black
          width: 149px
          height: 150px
          &_7
              &:hover
                border-image: linear-gradient(to left top, rgb(48,182,249), 70%,rgb(22,95,252))
                +gradient_hover
          &_4
              &:hover
                border-image: linear-gradient(to left top, rgb(22,95,252), 70%, rgb(101,46,148))
                +gradient_hover
          &_1
              &:hover
                border-image: linear-gradient(to right top, rgb(102,45,148), 70%,rgb(232,2,140))
                +gradient_hover
          &_8
              &:hover
                border-image: linear-gradient(to right top, rgb(48,182,249), 30%,rgb(57,181,74))
                +gradient_hover
          &_5
              &:hover
                border-image: linear-gradient(to right top, rgb(254,199,7), 70%,rgb(238,50,74))
                +gradient_hover
          &_2
              &:hover
                border-image: linear-gradient(to right top, rgb(109,43,145), 30%,rgb(236,0,140))
                +gradient_hover
          &_3
              &:hover
                border-image: linear-gradient(to bottom right, rgb(236,3,136), 30%,rgb(239,65,54))
                +gradient_hover
          &_6
              &:hover
                border-image: linear-gradient(to top right, rgb(247,148,30), 30%,rgb(239,226,0))
                +gradient_hover
          &_9
              &:hover
                border-image: linear-gradient(to top right, rgb(58,182,73), 70%,rgb(250,204,6))
                +gradient_hover
.header
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  width: 40px
  height: 40px
  top: 50px
  right: 50px
  &_square
    display: flex
    flex-wrap: wrap
    +white_block
    width: 33px
    height: 33px
    margin-right: 20px
    &:hover
      .header_descr
        opacity: 1
    &_small
      display: flex
      justify-content: center
      align-items: center
      background-color: white
      border: 1px solid black
      outline: 0.5px solid black
      outline-offset: -0.5px
      background-clip: padding-box
      width: 11px
      height: 11px
  &_descr
    position: absolute
    top: 42px
    right: 33px
    color: white
    opacity: 0
    transition: all linear 0.2s
    pointer-events: none
    transform: rotate(-45deg)
.logo
  display: flex
  position: absolute
  width: 40px
  height: 40px
  top: 50px
  left: 50px
  &_descr
    color: white
    line-height: 20px
    opacity: 0
    transition: all linear 0.2s
    pointer-events: none
    position: absolute
    top: -55px
    left: 27px
    transform: rotate(-45deg)
  &_square
    display: flex
    justify-content: center
    align-items: center
    +white_block
    margin-right: 20px
    &:hover
      .logo_descr
        opacity: 1
  &_line
    position: absolute
    width: 23px
    height: 3px
    background-color: black
    &_1
      transform: rotate(180deg)
      left: -3px
      width: 38px
    &_2
      transform: rotate(45deg)
      left: -5px
      top: 21px
    &_3
      transform: rotate(45deg)
      left: 13px
      top: 5px
.social
  position: absolute
  width: 140px
  display: flex
  align-items: center
  margin-left: 50px
  margin-top: 40px
  &_1
    bottom: 180px
  &_2
    bottom: 120px
  &_3
    bottom: 60px
  &_item_1
    &:after
      content: ''
      position: absolute 
      bottom: 0px
      right: 0px
      height: 0px
      width: 0px
      transition: all linear 0.2s
      background-color: rgb(19,67,153)
      border: 0px solid rgb(19,67,153)
  &_item_3
    &:after
      content: ''
      position: absolute 
      bottom: 0px
      right: 0px
      height: 0px
      width: 0px
      transition: all linear 0.2s
      background-color: rgb(34,122,239)
      outline: 0px solid rgb(34,122,239)
  &_wrapper
    +white_block
    &:hover
      .social_descr
        opacity: 1
      .social_item_1
        &:after
          z-index: -1
          height: 30px
          width: 30px
          border: 1px solid rgb(19,67,153)
      .social_item_3
        &:after
          z-index: -1
          height: 30px
          width: 30px
          outline: 1px solid rgb(34,122,239)
      .social_be
        fill: white
      .social_f
        fill: white
          
  &_descr
    position: absolute
    color: white
    opacity: 0
    transform: rotate(-45deg)
    transition: all linear 0.2s
    pointer-events: none
    &_1
      bottom: 50px
      left: 25px
    &_2
      bottom: 50px
      left: 25px
    &_3
      bottom: 47px
      left: 26px
  &_be
    margin: 6px
    transform: rotate(-45deg)
    width: 24px
    height: 24px
    transition: all linear 0.2s
  &_f
    margin: 0px 10px
    transform: rotate(-45deg)
    width: 24px
    height: 24px
    transition: all linear 0.2s
    


    

    
  