.mainfolio
    display: flex
    justify-content: center
    height: 11890px
.logofolio
    +logofolio_size
    background-color: rgb(0,0,0)
    z-index: 14
.moscow
    +logofolio_size
    background-color: rgb(152,0,25)
    z-index: 13
.startool
    +logofolio_size
    background-color: rgb(253,184,19)
    z-index: 12
.litres
    +logofolio_size
    background-color: rgb(255,255,255)
    z-index: 11
.breesal
    +logofolio_size
    background-color: rgb(73,154,39)
    z-index: 10
.true
    +logofolio_size
    background-color: rgb(0,0,0)
    z-index: 9
.ligetdukat
    +logofolio_size
    background-color: rgb(79,21,20)
    z-index: 8
.pskov
    +logofolio_size
    background-color: rgb(196,154,112)
    z-index: 7
.whiteblack
    +logofolio_size
    background-color: rgb(0,0,0)
    z-index: 6
.weaving
    +logofolio_size
    background-color: rgb(46,147,253)
    z-index: 5
.victory
    +logofolio_size
    background-color: rgb(194,42,37)
    z-index: 4
.kargopol
    +logofolio_size
    background-color: rgb(0,0,0)
    z-index: 3
.dunskaya
    +logofolio_size
    background-color: rgb(143,43,142)
    z-index: 2
.almatel
    +logofolio_size
    background-color: rgb(30,176,213)
    z-index: 1
