.navigation
  &_wrapper
    &:hover
      .navigation_right_soap
        background-image: url('../icons/soap/RIGHT_packs.svg')
      .navigation_left_soap
        background-image: url('../icons/soap/LEFT_packs.svg')
      .navigation_top_soap
        background-image: url('../icons/soap/UP_packs.svg')
.mainsoap
    display: block
    position: relative
    overflow: hidden
    margin: 0 auto  
    width: 1400px
    height: 9100px
    background-color: white
    &_header
        width: 1400px
        height: 624px
        background-image: url(../img/soap/01_HEADER.webp)
.slideUp
    animation: slideUp 2s
.soap
    &_box
        margin: 140px 300px 80px
        display: flex
        justify-content: space-between
        &_header
          font-size: 36px
          font-family: 'RobotoCondensed-Light'
          color: black
          text-transform: uppercase
          &_black
            position: absolute
            width: 490px
            height: 50px
            background-color: white
        &_left
          +line_art
          background-color: black
          transform: translate3d(-500px,0px,0px)
          width: 145px
        &_right
          +line_art
          background-color: black
          transform: translate3d(500px,0px,0px)
          width: 145px
    &_descr
        margin-left: 187px
        margin-right: 180px
        font-family: 'RobotoCondensed-Light'
        font-size: 20px
        &_line
            display: flex
            &_name
                font-family: 'RobotoCondensed-Light'
                white-space: nowrap
                &_1
                    margin-left: 24px
                &_2
                    margin-left: 14px
            &_descr
                margin-left: 20px
                font-family: 'RobotoCondensed-Light'
    &_line_box
        margin-left: 180px
        margin-right: 180px
        margin-top: 80px
        font-family: 'RobotoCondensed-Light'
        font-size: 25px
        font-weight: 900
        display: flex
        justify-content: center
        align-items: center
        &_name
            width: 218px
            height: 56px
            background-image: url(../img/soap/02_VkusVill_Logo.png)
        &_year
            font-weight: 100
            margin-left: 50px
            text-transform: uppercase
            border-top: 2px solid #000
            border-bottom: 2px solid #000
            color: #000
.logosoap
    &_img
        background-image: url(../img/soap/03_2_Packs.webp)
        margin-top: 120px
        margin-bottom: 80px
        width: 1400px
        height: 842px
    &_descr
        margin-left: 300px
        margin-right: 180px
        font-family: 'RobotoCondensed-Light'
        font-size: 20px
.moodblock
    &_img
        background-image: url(../img/soap/04_Moodboard.webp)
        margin-top: 120px
        margin-bottom: 80px
        width: 1400px
        height: 788px
    &_box
        margin-top: 120px
        margin-bottom: 80px
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
        &_circle
            width: 263px
            height: 263px
            &_1
                background-image: url(../img/soap/13_KRUG_01.webp)
            &_2
                background-image: url(../img/soap/14_KRUG_02.webp)
            &_3
                background-image: url(../img/soap/15_KRUG_03.webp)
    &_descr
        margin-left: 300px
        margin-right: 180px
        font-family: 'RobotoCondensed-Light'
        font-size: 20px
.craft
    &_paper
        display: flex
        flex-wrap: wrap
        background-image: url(../img/soap/05_Kraft_fon.webp)
        margin-top: 120px
        margin-bottom: 80px
        width: 1400px
        height: 843px
        &_block
            background-image: url(../img/soap/06_Raport_white.png)
            width: 280px
            height: 281px
            opacity: 0
.color
    display: flex
    justify-content: space-evenly
    &_box
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 120px
        margin-bottom: 80px
        &_descr
            margin-top: 50px
            font-family: 'RobotoCondensed-Light'
            font-size: 20px
            margin-left: 46px
            &_4
                margin-left: 0px
        &_img
            width: 221px
            height: 221px
            &_1
                background-image: url(../img/soap/16_COLOR_01.png)
            &_2
                background-image: url(../img/soap/17_COLOR_02.png)
            &_3
                background-image: url(../img/soap/18_COLOR_03.png)
            &_4
                background-image: url(../img/soap/19_COLOR_04.png)
.depiction
    &_soap
        width: 1400px
        margin-top: 120px
        margin-bottom: 80px
        &_1
            background-image: url(../img/soap/20_Etiketka.webp)
            height: 655px
        &_2 
            background-image: url(../img/soap/21_Jidkoe.webp)
            height: 842px
        &_3
            background-image: url(../img/soap/22_Tverdoe.webp)
            height: 842px
        &_4
            background-image: url(../img/soap/23_Footer.webp)
            height: 745px